<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<img src="{{album.album_logo}}" width="200px" height="200px">
	<h1>{{album.album_title}}</h1>
	<h3>{{album.artist}}</h3>

	{% if err_msg %}
	<p><strong>{{err_msg}}</strong></p>
	{% endif%}

	<ul>

		<form action="{%url 'music:favorite' album.id%}" method="POST">
			{% csrf_token %}
		{% for song in album.song_set.all %}
		<input type="checkbox" id="song{{ forloop.counter }}" name="song" value="{{song.id}}"/>
		<label for="song{{ forloop.counter }}">
			{{song.song_title}}
			{% if song.is_favorite%}
				<img src="http://i.imgur.com/b9b13Rd.png"/>
			{%endif%}
		</label>
		<br/>
		{% endfor %}
		<input type="submit" value="Favorite"/>
		</form>
	</ul>
</body>
</html>